<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aigroup.world.mapper.AdminTipsMapper">
    <insert id="insertBatch">
        INSERT INTO admin_tips (admin_id, tips_id, created_at, updated_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.adminId}, #{item.tipsId}, #{item.createdAt}, #{item.updatedAt})
        </foreach>
    </insert>
</mapper> 